@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1442b7;
    height: 70px;
    border-radius: 0px 0px 5px 5px;
    position: sticky;
    top: 0px;
    color: #f6f6e9;
    z-index: 1;
    
}

.nav>ul {
    display: flex;
    gap: 25px;
    margin: 0px 20px;
}

.logo {
    width: 55%;
    margin-left: 65px;
}

.nv {
    background-image: url(../img/background_logo_lode.jpg);
    color: white;
    height: 372px;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
}

.Nav2 {
    /* position: relative;
    left: 50px;*/
    text-transform: uppercase;
}

.nv::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.list {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 17px 33px;
    background-image: linear-gradient(to Right, #1c3b8c, #f39c12);
    border-radius: 7px;
}

.icon {
    position: absolute;
    left: -36px;
    top: 78px;
    background-image: linear-gradient(to top Right, #1c3b8c, #f39c12);
    border-radius: 50%;
    padding: 6px;
}

.newupdate {
    padding-bottom: 15px;
}

.icon>i {
    position: relative;
    left: -8px;
    top: 5px;
}

.fli {
    margin-left: 11px;
}

.b-nav {
    position: absolute;
    top: 25%;
    left: 13%;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
body {
    margin: 0;
    background: white;
}

.body {
    padding: 0px 10%;
}


.head {
    margin-left: 20px;
    border-left: 2px solid #f39c12;
    margin: 15px;
    padding-left: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.On {
    color: #f39c12;
}

button {
    border: 2px solid #1c3b8c;
    background: #1c3b8c;
    border-radius: 7px;
    height: 40px;
    width: 130px;
    font-size: 11px;

}

a {
    text-decoration: none;
    color: white;
    margin: auto;
}

/* ul {
    margin-bottom: 20px;
    color: black;
} */

li {
    list-style: none;

}

i {
    margin-left: 17px;
    padding-bottom: 15px;
    color: white;
    font-size: 30px;
}

.network {
    box-shadow: 0px 0px 18px 0px #00000047;
    border: 1px solid bisque;
    background: inherit;
    width: 150px;
    height: 100px;
    cursor: pointer;
    color: black;
}

.tab {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}

.network:hover {
    background-image: linear-gradient(to bottom left, #f39c12, #1c3b8c);
}

.MarwanEmad {
    font-weight: 600;
    position: relative;
    top: 6px;
    left: 32px;
    color: black;
    font-family: "Poppins", sans-serif;

}

.drob {
    margin-top: 5px;
}



/* .card {
    translate: 150px 30px;
} */

.Lange {
    /* position: relative;
    color: black;
    left: 12px; */
    font-family: "Poppins", sans-serif;
    font-weight: 600;



    position: relative;
    color: black;
    left: 53px;
    top: 6px;
}

.php {
    position: relative;
    left: 63px;
}

.Update1 {
    position: relative;
    left: 52px
}

/* .update {
    position: relative;
    left: 62px;
} */

h3 {
    font-size: 24px;
    padding-bottom: 20px;
}

ul li i {
    color: #f39c12;
    position: relative;
    left: 28%;
    top: 7px;
}

.Icons_Star {
    display: flex;
    margin-top: 15px;
    position: relative;
    left: -60px;

}

.icons {
    font-size: 15px;
}

.itme {
    box-shadow: 0px 0px 18px 0px #00000047;
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;
}

/* .List_Right {
    position: relative;
    left: 300px;
    top: -88px;
} */

.UnderList {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.time {
    font-size: 15px;
    margin-left: 5px;
    color: rgba(51, 64, 70, 0.432);

}

.Right {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.last_icone {
    font-size: 20px;
    position: relative;
    left: -12px;
    top: 3px;
}

.Welcome {
    background: #1c3b8c;
    border-radius: 7px;
    padding: 15px 20px;
    width: 50px;
    text-transform: uppercase;
    font-size: 11px;
    /* cursor: pointer; */
}

.Welcome:hover {
    background-image: linear-gradient(to bottom left, #f39c12, #1c3b8c);

}

.paden {
    padding: 30px 20px;
    width: 29%;
}

.img {
    width: 100%;
    vertical-align: middle;
}

.card {
    padding: 10%;
}
/* ------------------------ */
.navOne{
  display: none;
}
.navList{
  display: none;
}
@media(max-width:836px){
   .nav>ul{
       display: none;
   }
   .navOne{
       display: block;
   }
   .navOne>i{
       margin: 43px;
       font-size: x-large;
       cursor: pointer;
   }
   .navList{
       display: block;
   }

   .navList{
       position: fixed;
       top: 10%;
       right: 7%;
       background-color: #1442b7;
       border-radius: 20px;
   }
   ul{
       list-style: none;
       padding: 0px;
   }
   .navList>ul>li{
       margin: 9px 0px;
       padding: 10px 44px;
       cursor: pointer;
   }
   .navList>ul>li:hover{
       background-color: #f39c12;
       color: white;
   }
   .lestsho{
       display: none;
   }
   
}
/*  START FOOTER */
.footer {
  background: linear-gradient(to right ,rgb(20, 66, 183), #f39c12);
  color: white;
  /* padding-bottom: 40px; */

}
.parent-content-foot {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  margin: 0px 61px;
  flex-wrap: wrap;
}
.child-foot{
  position: relative;
}
.child-foot h3::after{
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  top: 57px;
  left:15px;
  background-color: #f39c12;
}
.child-foot h3::before{
  content: "";
  width: 10px;
  height: 9px;
  position: absolute;
  top: 54px;
  left:0;
  background-color: #f39c12;
  border-radius: 500px;
}
.child-foot h3{
  margin-bottom: 30px;
}


.child-foot img {
  width: 100px;
  height: auto;
}
.copy {

  text-align: center;
}
.child-foot a {
  text-decoration: none;
  color: white;
  transition: 0.5s all;
}
.child-foot a:hover {
  text-decoration: underline;
  color: #f39c12;
}
.child-foot i{
padding: 10px ;
background-color: #f39c12;
border-radius: 40px;
transition: 0.5s all;
margin: 8px;


}
.child-foot i:hover{
  background-color: white;
  color: black;
}
.copy{
  background: linear-gradient(to right, #08226a, #664400);
padding: 30px;
color: #fff;
}
.copy a{
color: white;

}
.copy a:hover{
  color: #f39c12;
  text-decoration: none;

  }
/* END FOOTER */